@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    
    @(Html.Kendo().Grid<Batch1Work.Models.ActionGridItem>()
          .Name("grid")
          .HtmlAttributes(new { style = "height:500px" })
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("GetActionGridItems", "Home")
              )
          )
          .Columns(columns =>
          {
              columns.Bound(c => c.Building)
                  .Filterable(f => f.UI("buildingFilter")
                      .Operators(o => o.ForString(s => s.Clear()
                          .StartsWith("Starts with")
                          .IsEqualTo("Is equal to")
                          .IsNotEqualTo("Is not equal to"))))
                  .Title("Building")
                  .Width(150);
              columns.Bound(c => c.Floor).Title("Floor").Width(150);
              columns.Bound(c => c.Area).Title("Area").Width(150);
              columns.Bound(c => c.Item).Title("Item").Width(150);
              columns.Bound(c => c.ProductType).Title("Prod. Type").Width(150);
              columns.Bound(c => c.AsbestosType).Title("Asb. Type").Width(150);
              columns.Bound(c => c.Quantity).Title("Extent").Width(150);
              columns.Bound(c => c.InspFreq).Title("Insp. Frq.").Width(150);
              columns.Bound(c => c.MaScore).Title("MA").Width(75);
              columns.Bound(c => c.PaScore).Title("PA").Width(75);
              columns.Bound(c => c.RiskScore).Title("Risk").Width(75);
              columns.Bound(c => c.RiskCategory).Title("Risk Category").Width(150);
              columns.Bound(c => c.RecAction).Title("Rec. Action").Width(150);
          })
          .Pageable()
          .Sortable()
          .Filterable(f => f.Extra(false))
          .Scrollable()
          .Events(e => e.DataBound("grid_dataBound"))
          )
</div>


<div id="filteredFieldAlertContainer" class="alert alert-warning hide">
    A filter is applied to the following columns: <span id="filteredFieldString"></span> <a id="clearAllFiltersBtn" href="javascript:;" class="alert-link">Click here to remove all filters</a>.
</div>


<script type="text/javascript">
    function buildingFilter(element) {
        element.kendoDropDownList({
            dataSource: {
                transport: {
                    read: "@Url.Action("FilterMenuCustomization_Building")"
                }
            },
            optionLabel: "--Select Value--"
        });
        //var grid = $("#grid").data("kendoGrid");
    }

    function grid_dataBound(e) {
        setTimeout(function () {
            var filteredFields = [];
            $("#grid .k-state-active").each(function () {
                var sender = $(this);
                filteredFields.push(sender.parent().data("title"));
            })
            if (filteredFields.length > 0) {
                var filteredFieldString = filteredFields.join(", ");
                $("#filteredFieldString").text(filteredFieldString);
                $("#filteredFieldAlertContainer").removeClass("hide");
            } else {
                $("#filteredFieldString").text("");
                $("#filteredFieldAlertContainer").addClass("hide");
            }
        }, 20);
    }

    function clearAllFilters() {
        $(".k-filter-menu .k-button[type='reset']").trigger("click");
    }

    $("#clearAllFiltersBtn").click(function () {
        clearAllFilters();
    });

</script>